<div class="index | has-rows">
	<div class="is-row flex-min">
    <div class="btn-group">
      <a uiSref="jobs.new" class="btn btn-link">
        <fa-icon [icon]="faHammer"></fa-icon>
        New Job
      </a>

      <a uiSref="jobs.map" class="btn btn-link">
        <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
        View on Map
      </a>

    </div>
	</div>
	<div class="is-row flex-max">
		<div class=" box">
			<h2>Job Index</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
				at ratione eos reprehenderit commodi, rem vel vero recusandae beatae
				voluptas! Iste itaque mollitia aliquam veritatis minima incidunt eius
				natus quasi rerum in. Molestiae dolor reprehenderit aut doloribus
				suscipit? Iste quidem fuga adipisci distinctio autem, facere sapiente
				deserunt error iusto!
			</p>
		</div>
  </div>
  <div class="is-row flex-min">
    <div class="box box--sm">
      <h5>Hello from down here</h5>
    </div>
  </div>
</div>
