<div class="thebigevent is-column">
	<div class="has-rows">
		<header class="is-row flex-min box box--sm"><h1>The Big Event</h1></header>
		<div class="is-row flex-max | has-columns">
			<div class="is-column">
				<nav class="menu">
					<ul class="has-rows">
						<li class="is-row">
							<a uiSref="jobs.index">
								<fa-icon [icon]="faHammer"></fa-icon>
								<span class="sr-only">Jobs</span>
							</a>
						</li>
						<li class="is-row">
							<a uiSref="groups.index">
								<fa-icon [icon]="faGroup"></fa-icon>
								<span class="sr-only">Groups</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="is-column flex-max"><ui-view></ui-view></div>
		</div>
	</div>
</div>
